.selected-image-modal {
  height: 100%;
  width: 100%;
  background: rgba(227, 227, 227, 0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.external-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icon {
  height: 100px;
  width: auto;
  margin: 2px;
}