.selected-image-modal {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.external-links {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  left: 32%;
}

.social-media-icon {
  height: 3rem;
  margin: 2px;
}