.selected-image {
  display: flex;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  opacity: 1;
  order: 2;
  align-items: center;
  justify-content: center;
  position: relative;
}

.selected-image.displayed {
  width: 100%;
}